.sidebar{
  width: 20%;
  display: flex;
  height: 100dvh;
  background-color: rgb(142, 142, 39);
  align-items: center;
  justify-content: center;
}

.sidebar a{
  text-decoration: none;
  color: black;
}

.sidebar a:hover{
  color: rgb(255, 255, 255);
  transform: scale(1.2);
}

.sidebar-navigation{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;

  flex-direction: column;
}
.sidebar-navigation-link{
  padding: 15px 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.wrapper{
  display: flex;
 
  width: 80%;
  height: 100dvh;
}